{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto bg-white rounded">  
        <div class="form-container">
            <h1 class="text-center">Register your Ease-I Account</h1>
            <div class="form w-75 mx-auto">
                <form autocomplete="off" action="{{ url_for('auth.login')}}" method="POST">
                    <div class="form-top d-grid gap-3">
                        <div class="w-100">
                            <input id="Username" type="text" autocomplete="off" placeholder="Enter your email address here" maxlength="100" class="w-100 border border-solid border-2 rounded border-secondary">
                        </div>
                        <div class="w-100">
                            <input id="Password" type="password" autocomplete="off" placeholder="Enter your password here" maxlength="100" class="w-100 border border-solid border-2 rounded border-secondary">
                        </div>   
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}