<link rel="stylesheet" href="{{ url_for('static', filename='css/userdb.css') }}">

{% extends 'base.html' %}

{% block content %}
<div class="userdb-container shadow-lg p-5">
    <h1 class="text-white text-center">User List</h1>
    <div>
        <div class="text-white text-center">
            {% if count == 0 %}
                <p>There are no users.</p>
            {% elif count == 1 %}
                <p>There is 1 user.</p>
            {% else %}
                <p>There are {{ count }} users.</p>
            {% endif %}
        </div>

        {% if current_user.role_id == 2 %}
        <div class="w3-container">
            <h3 class="text-white d-inline">Filter By:</h3>
            <div class="w3-dropdown-content d-inline ms-2 btn-group dropend">
                <button class="w3-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">
                    {% if role_filter == 'staff' %}
                        Staff
                    {% elif role_filter == 'customer' %}
                        Customer
                    {% else %}
                        All
                    {% endif %}
                </button>
                <div class="w3-dropdown-content text-center text-white dropdown-menu" id="myDIV">
                    <a class="w3-bar-item dropdown-item {% if role_filter == 'all' %}active{% endif %}" href="{{ url_for('auth.userdb', role='all') }}">All</a>
                    <a class="w3-bar-item dropdown-item {% if role_filter == 'staff' %}active{% endif %}" href="{{ url_for('auth.userdb', role='staff') }}">Staff</a>
                    <a class="w3-bar-item dropdown-item {% if role_filter == 'customer' %}active{% endif %}" href="{{ url_for('auth.userdb', role='customer') }}">Customer</a>
                </div>
            </div>
            <p class="text-white mt-2">Click the button and select the user type to filter by.</p>
        </div>

        <!-- User Table -->
        <div>
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in user_list %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.first_name }} {{ row.last_name }}</td>
                        <td>{{ mask_email(row.email) }}</td>
                        <td>{{ row.role_id }}</td>
                        <td>
                            <!-- Update Button -->
                            <form action="/" method="GET">
                                <input type="submit" class="btn btn-light" value="Update">
                            </form>
                        </td>
                        <td>
                            <!-- View Billing Address Button -->
                            <form action="{{ url_for('auth.view_billing_address', user_id=row.id) }}" method="POST">
                                <input type="submit" class="btn btn-primary" value="View Billing Address">
                            </form>
                        <td>
                            <!-- Delete Button and Modal -->
                            <form action="{{ url_for('auth.delete_user', user_id=row.id) }}" method="POST">
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#myModal_{{ row.id }}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal text-white" id="myModal_{{ row.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal Body -->
                                            <div class="modal-body">
                                                Are you sure you want to delete {{ row.first_name }} {{ row.last_name }}?
                                            </div>
                                            <!-- Modal Footer -->
                                            <div class="modal-footer">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h1 class="text-white text-center">You are not authorised to view this information</h1>
        {% endif %}    
    </div>
</div>
{% endblock %}
