<link rel="stylesheet" href="{{ url_for('static', filename='css/userdb.css') }}">

{% extends 'base.html' %}

{% block content %}
<div class="userdb-container shadow-lg p-5">
    <h1 class="text-white text-center">User List</h1>

        {% if current_user.role_id == 2 %}
        <!-- User Table -->
        <div>
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in user_list %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.first_name }} {{ row.last_name }}</td>
                        <td>{{ mask_email(row.email) }}</td>
                        <td>{{ row.role_id }}</td>
                        <td>
                            <!-- Update Button -->
                            <form action="/" method="GET">
                                <input type="submit" class="btn btn-light" value="Update">
                            </form>
                        </td>
                        <td>
                            <!-- Delete Button and Modal -->
                            <form action="{{ url_for('auth.delete_user', user_id=row.id) }}" method="POST">
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#myModal_{{ row.id }}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal text-white" id="myModal_{{ row.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal Body -->
                                            <div class="modal-body">
                                                Are you sure you want to delete {{ row.first_name }} {{ row.last_name }}?
                                            </div>
                                            <!-- Modal Footer -->
                                            <div class="modal-footer">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
