.plans-page-container {
    background-color: #1a6f59 !important;
    padding: 2rem 0;
}

.plans-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.essential-plan {
    background-color: #e7f3ff !important;
}

.enhanced-plan {
    background-color: #e6f8e0 !important;
}

.elite-plan {
    background-color: #fff9e5 !important;
}

.plus-plan {
     background-color: #FFE4C4 !important;
}

.btn-basic {
    background-color: #d6eaff !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-basic:hover {
    background-color: #c2e0ff !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-standard {
    background-color: #dff3d8 !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-standard:hover {
    background-color: #ccecc5 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-premium {
    background-color: #ffefcc !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-premium:hover {
    background-color: #ffe8b3 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-plus {
    background-color: #FFE4C4 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-plus:hover {
    background-color: #FFCC99 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.card-header {
    font-size: 1.5rem;
    padding: 1rem;
}

.card-body {
    padding: 1.5rem;
}

.card {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
     transition: all 0.3s ease;
}

.card:hover {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
     transform: translateY(-5px);
}