.plans-page-container {
    background-color: #1a6f59 !important;
    padding: 2rem 0;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
}

.plans-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.essential-plan {
    background-color: #e7f3ff !important;
}

.enhanced-plan {
    background-color: #e6f8e0 !important;
}

.elite-plan {
    background-color: #fff9e5 !important;
}

.plus-plan {
     background-color: #FFE4C4 !important;
}

.btn-essential {
    background-color: #d6eaff !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-essential:hover {
    background-color: #c2e0ff !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-enhanced {
    background-color: #dff3d8 !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-enhanced:hover {
    background-color: #ccecc5 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-elite {
    background-color: #ffefcc !important;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-elite:hover {
    background-color: #ffe8b3 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-plus {
    background-color: #FFE4C4 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-plus:hover {
    background-color: #FFCC99 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
}

.btn-essential a,
.btn-enhanced a,
.btn-elite a,
.btn-plus a {
    color: #000000;
}

.card-header {
    font-size: 1.5rem;
    padding: 1rem;
}

.card-body {
    padding: 1.5rem;
}

.card {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
     transition: all 0.3s ease;
}

.card:hover {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
     transform: translateY(-5px);
}