.logo-text {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #C3A812;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo-text:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.nav-link:hover {
    background-color: #00509e;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-warning {
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #ff8800;
    box-shadow: 0 4px 8px rgba(255, 136, 0, 0.5);
}

.btn-outline-light {
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #003366;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}
