<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="row w-100 mx-0">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto justify-content-center">
                    <li class="nav-item mx-3"><a class="nav-link" href="{{ url_for('auth.userdb') }}">Accounts</a></li>
                    <li class="nav-item mx-3"><a class="nav-link" href="{{ url_for('auth.signup') }}">Create Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>