<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HealthCare Insurance</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Policy&Terms">Policy & Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Plans">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ContactSupport">Contact Us / Support</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-warning ms-3" href="/Signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning ms-3" href="/Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
