<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #003366; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <div class="container-fluid">
        <a class="navbar-brand logo-text" href="/">INSURE-EASE</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-white px-3 fs-5" href="{{ url_for('route.PolicyTerms') }}">Policy & Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 fs-5" href="{{ url_for('route.Plans_Overview') }}">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 fs-5" href="{{ url_for('auth.userdb') }}">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 fs-5" href="{{ url_for('auth.view_claims') }}">Claims</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if not current_user.is_authenticated %}
                    <a class="btn btn-warning px-4 py-2 fw-bold before-login"
                        href="{{ url_for('auth.login') }}">Login</a>
                    {% else %}
                    <div class="button-group">
                        <button class="btn btn-warning px-4 py-2 fw-bold after-login dropdown-toggle"
                            id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                            Profile
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{ url_for('auth.profile') }}">View Profile</a>
                            <a class="dropdown-item" href="{{ url_for('route.index') }}">Change Password</a>
                            <a class="dropdown-item" href="{{ url_for('route.upload_medical_document') }}">Upload Document</a>                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.logout')}}">Logout</a>
                        </div>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>